{% extends "base.html" %}

{% load static %}

{% block title %}About Us - Buildwright Constructions{% endblock %}

{% block meta_keywords %}home construction, building design, Buildwright Constructions, quality construction, residential construction{% endblock %}
{% block meta_description %}Learn about Buildwright Constructions, a leading home construction company dedicated to delivering high-quality residential projects with a focus on innovative design and exceptional craftsmanship.{% endblock %}
    


{% block main %}



<main>
    <article class="article">
      <header class="article__header">
        <div class="container">
          <h1 class="article__heading heading heading--size-large">Strategy-led
            <br>
            <span class="color-yellow">design</span> in every detail
          </h1>
        </div>
      </header>
      <div class="article__about-hero container">
        <img src="{% static  'img/picture/about/hero.png' %}" width="1800" height="768" alt="">
      </div>
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="01.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">A few words About us</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
                <p>At BuildWrightConstructions, we are dedicated to transforming visions into reality with precision and excellence. With a rich history of collaborating with various stakeholders, we bring expertise, innovation, and a commitment to quality to every project we undertake. Our focus is on delivering superior construction solutions tailored to meet the unique needs of each client, ensuring their dreams are built to last.</p>
                <p>Our journey has been shaped by years of experience and a deep understanding of the construction industry. This has enabled us to create a suite of services that cater to the demands of modern architecture and construction, making us a trusted partner in your construction endeavors.</p>
            </div>
            <blockquote class="about-block__quote" data-aos="fade">Building dreams, one brick at a time.
                <br>Experience excellence with BuildWrightConstructions.
            </blockquote>
        </div>
        
        </div>
      </section>
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="02.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Who We Are</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>BuildWright Constructions stands at the forefront of the industry, blending cutting-edge technology with timeless craftsmanship. Founded on the principles of integrity, innovation, and quality, we have earned a reputation for delivering superior results on time and within budget. Our team comprises seasoned professionals who are passionate about what they do, bringing together expertise from across the spectrum of construction disciplines.</p>
              
            </div>
            
          </div>
        </div>
      </section>

      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="03.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">What We Do</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>From concept to completion, BuildWright Constructions offers a comprehensive range of services tailored to meet the unique needs of each project. Whether it’s architectural design, structural engineering, project management, or sustainable construction practices, we approach every task with meticulous attention to detail and a commitment to excellence. Our portfolio spans commercial, construction, real estate, reflecting our versatilityand ability to adapt to diverse client requirements.</p>
              
            </div>
            
          </div>
        </div>
      </section>
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="04.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Our Approach</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>Central to our approach is collaboration. We believe in building strong partnerships—with clients, architects, engineers, and subcontractors—to foster creativity, streamline processes, and achieve unparalleled results. By fostering open communication and maintaining transparency throughout every phase of the project, we ensure that each stakeholder’s vision is realized to its fullest potential.</p>
              
            </div>
            
          </div>
        </div>
      </section>
      
     
    
      {% comment %} <section class="webpage__about-block about-block">
        <div class="about-block__inner container" data-number="04.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Testimonials</h2>
          </header>
          <div class="about-block__main reviews-carousel" data-aos="fade">
            <div class="swiper-container __js_review-carousel">
              <div class="swiper-wrapper">
                <div class="reviews-carousel__item review-card swiper-slide">
                  <div class="review-card__image">
                    <img src="{% static  'img/picture/avatar-paul.png' %}" srcset="{% static  'img/picture/avatar-paul.png' %} 2x" width="112" height="112" alt="">
                  </div>
                  <div class="review-card__name">Paul</div>
                  <div class="review-card__post">Designer in <span>Paul.com</span>
                  </div>
                  <div class="review-card__text">Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.</div>
                </div>
                <div class="reviews-carousel__item review-card swiper-slide">
                  <div class="review-card__image">
                    <img src="{% static  'img/picture/avatar-robert.png' %}" srcset="{% static  'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
                  </div>
                  <div class="review-card__name">Robert</div>
                  <div class="review-card__post">Founder in <span>Apple inc.</span>
                  </div>
                  <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
                </div>
                <div class="reviews-carousel__item review-card swiper-slide">
                  <div class="review-card__image">
                    <img src="{% static  'img/picture/avatar-robert.png' %}" srcset="{% static  'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
                  </div>
                  <div class="review-card__name">Robert</div>
                  <div class="review-card__post">Founder in <span>Apple inc.</span>
                  </div>
                  <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
                </div>
                <div class="reviews-carousel__item review-card swiper-slide">
                  <div class="review-card__image">
                    <img src="{% static  'img/picture/avatar-robert.png' %}" srcset="{% static  'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
                  </div>
                  <div class="review-card__name">Robert</div>
                  <div class="review-card__post">Founder in <span>Apple inc.</span>
                  </div>
                  <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
                </div>
              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>
        </div>
      </section> {% endcomment %}
      {% comment %} <div class="partners">
        <div class="partners__inner container">
          <ul class="partners__list">
            <li class="partners__item" data-aos="fade" data-aos-delay="0">
              <img src="{% static  'img/picture/partners/1.png' %}" srcset="{% static  'img/picture/partners/1.png' %} 2x" width="117" height="47" alt="behr handelsagentur">
            </li>
            <li class="partners__item" data-aos="fade" data-aos-delay="200">
              <img src="{% static  'img/picture/partners/2.png' %}" srcset="{% static  'img/picture/partners/2.png' %} 2x" width="139" height="68" alt="christopher willis">
            </li>
            <li class="partners__item" data-aos="fade" data-aos-delay="400">
              <img src="{% static  'img/picture/partners/3.png' %}" srcset="{% static  'img/picture/partners/3.png' %} 2x" width="150" height="45" alt="artchive crafts gallery">
            </li>
            <li class="partners__item" data-aos="fade" data-aos-delay="600">
              <img src="{% static  'img/picture/partners/4.png' %}" srcset="{% static  'img/picture/partners/4.png' %} 2x" width="125" height="32" alt="artchive crasfts gallery">
            </li>
          </ul>
        </div>
      </div> {% endcomment %}
    </article>
    
  </main>

  {% endblock main %}