{% extends "base.html" %}
{% load static %}

{% block title %}
{{ dynamic_url.title }}
{% endblock %}


{% block meta_description %}{{ dynamic_url.meta_description }}{% endblock %}

{% block main %}
        
<main>
  <div class="webpage__main-slider main-slider">
    <!-- Start revolution slider-->
    <div class="rev_slider_wrapper fullscreen-container">
      <div class="rev_slider tp-overflow-hidden fullscreenbanner" id="rev_slider" data-version="5.4.1">
        <ul>
          <!-- Slide 1-->
          <li data-transition="slideleft" data-slotamount="default" data-masterspeed="1000" data-fsmasterspeed="1000" data-title="Home In Banglore" data-param1="01">
            <!-- Main image-->
            <img class="rev-slidebg" src="{% static 'img/picture/main-slider/1.jpg' %}" srcset="{% static 'img/picture/main-slider/1.jpg' %} 2x" width="1803" height="989" data-bgparallax="5" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
            <!-- Layer 1-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-299']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:0,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 2-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['219']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1200,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;} ]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 3-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-40']" data-width="4" data-height="518" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:600,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 4-->
            <div class="slider-title tp-caption tp-resizeme" data-x="['left']" data-hoffset="['54']" data-y="['middle','middle','middle','middle']" data-voffset="['-80']" data-textAlign="['left']" data-fontsize="['80', '72','56','48']" data-lineheight="['90','82', '66','58']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:600;">Home
              <br>
              <span class="color-yellow">In</span>
              <br>Banglore
            </div>
            <!-- Layer 5-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['-240']" data-textAlign="['left']" data-fontsize="['16']" data-lineheight="['19']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:400; text-transform:uppercase;">Residential</div>
            <!-- Layer 6-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['170']" data-textAlign="['left']" data-fontsize="['18']" data-lineheight="['20']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05">
              <a class="link-arrow link-arrow--white" href="#">See project
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </li>
          <!-- Slide 2-->
          <li data-transition="slideleft" data-slotamount="default" data-masterspeed="1000" data-fsmasterspeed="1000" data-title="Villa In Banglore" data-param1="02">
            <!-- Main image-->
            <img class="rev-slidebg" src="{% static 'img/picture/main-slider/2.jpg' %}" width="1920" height="1080" data-bgparallax="5" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
            <!-- Layer 1-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-299']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:0,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 2-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['219']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1200,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;} ]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 3-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-40']" data-width="4" data-height="518" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:600,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 4-->
            <div class="slider-title tp-caption tp-resizeme" data-x="['left']" data-hoffset="['54']" data-y="['middle','middle','middle','middle']" data-voffset="['-80']" data-textAlign="['left']" data-fontsize="['80', '72','56','48']" data-lineheight="['90','82', '66','58']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:600;">Villa
              <br>
              <span class="color-yellow">In</span>
              <br>Banglore
            </div>
            <!-- Layer 5-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['-240']" data-textAlign="['left']" data-fontsize="['16']" data-lineheight="['19']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:400; text-transform:uppercase;">Residential</div>
            <!-- Layer 6-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['170']" data-textAlign="['left']" data-fontsize="['18']" data-lineheight="['20']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05">
              <a class="link-arrow link-arrow--white" href="#">See project
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </li>
          <!-- Slide 3-->
          <li data-transition="slideleft" data-slotamount="default" data-masterspeed="1000" data-fsmasterspeed="1000" data-title="Renovate Exterior With Garden" data-param1="03">
            <!-- Main image-->
            <img class="rev-slidebg" src="{% static 'img/picture/main-slider/3.jpg' %}" width="1920" height="1080" data-bgparallax="5" data-bgposition="center 0" data-bgfit="cover" data-bgrepeat="no-repeat" alt="">
            <!-- Layer 1-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-299']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:0,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 2-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['219']" data-width="156" data-height="4" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:1200,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;} ]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 3-->
            <div class="tp-caption tp-shape tp-shapewrapper tp-resizeme" data-x="['left']" data-y="['middle','middle','middle','middle']" data-hoffset="['15']" data-voffset="['-40']" data-width="4" data-height="518" data-whitespace="nowrap" data-type="shape" data-responsive_offset="on" data-frames="[{&quot;from&quot;:&quot;y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;&quot;,&quot;mask&quot;:&quot;x:0px;y:0px;&quot;,&quot;speed&quot;:1000,&quot;to&quot;:&quot;o:1;&quot;,&quot;delay&quot;:600,&quot;ease&quot;:&quot;Power3.easeInOut&quot;},{&quot;delay&quot;:&quot;wait&quot;,&quot;speed&quot;:300,&quot;to&quot;:&quot;opacity:0;&quot;,&quot;ease&quot;:&quot;nothing&quot;}]" data-textAlign="['left','left','left','left']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" style="background-color:#fbc710;"></div>
            <!-- Layer 4-->
            <div class="slider-title tp-caption tp-resizeme" data-x="['left']" data-hoffset="['54']" data-y="['middle','middle','middle','middle']" data-voffset="['-80']" data-textAlign="['left']" data-fontsize="['80', '72','56','48']" data-lineheight="['90','82', '66','58']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="500" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:600;">Renovate
              <br>
              <span class="color-yellow">Exterior</span>
              <br>With Garden
            </div>
            <!-- Layer 5-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['-240']" data-textAlign="['left']" data-fontsize="['16']" data-lineheight="['19']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[155%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1000" data-splitin="chars" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05" style="color: #fff; font-weight:400; text-transform:uppercase;">Residential</div>
            <!-- Layer 6-->
            <div class="slider-title tp-caption" data-x="['left']" data-hoffset="['59']" data-y="['middle','middle','middle','middle']" data-voffset="['170']" data-textAlign="['left']" data-fontsize="['18']" data-lineheight="['20']" data-height="none" data-whitespace="nowrap" data-transform_idle="o:1;" data-transform_in="x:[-105%];z:0;rX:0deg;rY:0deg;rZ:0deg;sX:1;sY:1;skX:0;skY:0;s:2000;e:Power2.easeInOut;" data-transform_out="y:[100%];s:1000;e:Power2.easeInOut;s:1000;e:Power2.easeInOut;" data-mask_in="x:50px;y:0px;s:inherit;e:inherit;" data-mask_out="x:inherit;y:inherit;s:inherit;e:inherit;" data-start="1500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-elementdelay="0.05">
              <a class="link-arrow link-arrow--white" href="#">See project
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <section class="webpage__about-section about-section">
    <div class="about-section__inner container">
      <div class="row no-gutters">
        <div class="about-section__content col-12 col-md-7">
          <h2 class="about-section__heading heading-small" data-aos="fade">About us</h2>
          <div class="about-section__pseudoheading heading" data-aos="fade">We provide <span class="color-yellow">End-to-End</span> process solutions</div>
          <div class="about-section__text" data-aos="fade">Based in Banglore, BUILDWRIGHT was established in the year 2023, and the company deals with home construction, interior design,renovations and execution.</div>
          <a class="about-section__btn btn" href="about.html" data-aos="fade">Learn more</a>
        </div>
        <div class="col-12 col-md-5" data-aos="fade">
          <div class="about-section__image">
            <img src="{% static 'img/picture/about-section-image.jpg' %}" srcset="{% static 'img/picture/about-section-image.jpg' %} 2x" width="426" height="573" alt="House">
          </div>
          <div class="about-section__cite-wrapper">
            <blockquote class="about-section__blockquote">“If you will be coping someone, you will never be the best”</blockquote>
            <cite class="about-section__cite">BUILDWRIGHT
              <br>Constructions
            </cite>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="webpage__services-section services-section">
    <div class="services-section__inner container">
      <div class="row">
        <div class="services-section__content col-12 col-md-6 order-md-1 ml-auto">
          <h2 class="services-section__heading heading-small" data-aos="fade">Services</h2>
          <div class="services-section__pseudoheading heading" data-aos="fade">Thought out to the smallest detail</div>
          <ul class="services-section__list">
            <li class="services-section__item" data-aos="fade">
              <a class="services-section__link" href="projects-detail.html">Constructions</a>
            </li>
            <li class="services-section__item" data-aos="fade">
              <a class="services-section__link" href="projects-detail.html">Interior Design</a>
            </li>
            <li class="services-section__item" data-aos="fade">
              <a class="services-section__link" href="projects-detail.html">Architectural Design</a>
            </li>
            <li class="services-section__item" data-aos="fade">
              <a class="services-section__link" href="projects-detail.html">Land Development</a>
            </li>
            <li class="services-section__item" data-aos="fade">
              <a class="services-section__link" href="projects-detail.html">Demolition</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-6 col-lg-5">
          <div class="services-section__image" data-aos="fade">
            <img src="{% static 'img/picture/services-section-image.jpg' %}" srcset="{% static 'img/picture/services-section-image.jpg' %} 2x" width="426" height="573" alt="House">
            <a class="services-section__play play-btn fancybox" href="#video">
              <svg class="play-btn__icon" width="18" height="18">
                <use xlink:href="#play"></use>
              </svg>
              <span class="visually-hidden">Play video</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="webpage__statistics statistics" data-aos="fade">
    <div class="container">
      <div class="row">
        <div class="statistics__item col-12 col-sm">
          <div class="statistics__item-value">
            <span class="__js_number" data-end-value="15">0</span>
          </div>
          <div class="statistics__item-text">monts
            <br>working
          </div>
        </div>
        <div class="statistics__item col-12 col-sm">
          <div class="statistics__item-value">
            <span class="__js_number" data-end-value="24">0</span>
          </div>
          <div class="statistics__item-text">hours
            <br>Support
          </div>
        </div>
        <div class="statistics__item col-12 col-lg">
          <div class="statistics__item-value">
            <span class="__js_number" data-end-value="3">0</span>
          </div>
          <div class="statistics__item-text">Complitly
            <br>projects
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <article class="article">
        <header class="article__header">
            <div class="container">
                <h1 class="article__heading heading heading--size-large">Projects</h1>
                <!-- Filter projects-->
                <div class="article__filter filter">
                    <button class="filter__item filter__item--active __js_filter-btn" type="button" data-filter="*">all</button>
                    <button class="filter__item __js_filter-btn" type="button" data-filter=".__js_interior">interior</button>
                    <button class="filter__item __js_filter-btn" type="button" data-filter=".__js_architecture">architecture</button>
                    <button class="filter__item __js_filter-btn" type="button" data-filter=".__js_building">building</button>
                    <button class="filter__item __js_filter-btn" type="button" data-filter=".__js_exterior">exterior</button>
                </div>
            </div>
        </header>
        <div class="article__main container">
            <ul class="projects-masonry row __js_projects-grid">
                {% for project in projects %}
                <li class="projects-masonry__item col-12 col-md-6 col-xl-4 __js_masonry-item __js_{{ project.category }}">
                    <a class="card card--small card--masonry" href="{% url 'project_detail' project.slug %}">
                        <div class="card__image">
                            <img src="{{ project.images.first.image.url }}" alt="{{ project.title }}">
                        </div>
                        <div class="card__content">
                            <h3 class="card__heading">{{ project.title|linebreaksbr }}</h3>
                            <div class="card__text">{{ project.description|truncatewords:30 }}</div>
                            <div class="card__bottom">
                                <span class="card__link">See project
                                    <svg width="20" height="20">
                                        <use xlink:href="#chevron-right"></use>
                                    </svg>
                                </span>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </article>
</main>
  <!-- Partners-->
  <section class="webpage__partners partners">
    <div class="partners__inner container">
      <ul class="partners__list">
        <li class="partners__item" data-aos="fade" data-aos-delay="0">
          <img src="{% static 'img/picture/partners/1.png' %}" srcset="{% static 'img/picture/partners/1.png' %} 2x" width="117" height="47" alt="behr handelsagentur">
        </li>
        <li class="partners__item" data-aos="fade" data-aos-delay="200">
          <img src="{% static 'img/picture/partners/2.png' %}" srcset="{% static 'img/picture/partners/2.png' %} 2x" width="139" height="68" alt="christopher willis">
        </li>
        <li class="partners__item" data-aos="fade" data-aos-delay="400">
          <img src="{% static 'img/picture/partners/3.png' %}" srcset="{% static 'img/picture/partners/3.png' %} 2x" width="150" height="45" alt="artchive crafts gallery">
        </li>
        <li class="partners__item" data-aos="fade" data-aos-delay="600">
          <img src="{% static 'img/picture/partners/4.png' %}" srcset="{% static 'img/picture/partners/4.png' %} 2x" width="125" height="32" alt="artchive crasfts gallery">
        </li>
      </ul>
    </div>
  </section>
  <div class="webpage__reviews-carousel reviews-carousel" data-aos="fade">
    <div class="container">
      <div class="swiper-container __js_review-carousel">
        <div class="swiper-wrapper">
          <div class="reviews-carousel__item review-card swiper-slide">
            <div class="review-card__image">
              <img src="{% static 'img/picture/avatar-paul.png' %}" srcset="{% static 'img/picture/avatar-paul.png' %} 2x" width="112" height="112" alt="">
            </div>
            <div class="review-card__name">Paul</div>
            <div class="review-card__post">Designer in <span>Paul.com</span>
            </div>
            <div class="review-card__text">Projects for many large domestic and foreign corporations, enterprises in many elds such as nance, banking, F&B, education, communication.</div>
          </div>
          <div class="reviews-carousel__item review-card swiper-slide">
            <div class="review-card__image">
              <img src="{% static 'img/picture/avatar-robert.png' %}" srcset="{% static 'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
            </div>
            <div class="review-card__name">Robert</div>
            <div class="review-card__post">Founder in <span>Apple inc.</span>
            </div>
            <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
          </div>
          <div class="reviews-carousel__item review-card swiper-slide">
            <div class="review-card__image">
              <img src="{% static 'img/picture/avatar-robert.png' %}" srcset="{% static 'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
            </div>
            <div class="review-card__name">Robert</div>
            <div class="review-card__post">Founder in <span>Apple inc.</span>
            </div>
            <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
          </div>
          <div class="reviews-carousel__item review-card swiper-slide">
            <div class="review-card__image">
              <img src="{% static 'img/picture/avatar-robert.png' %}" srcset="{% static 'img/picture/avatar-robert.png' %} 2x" width="112" height="112" alt="">
            </div>
            <div class="review-card__name">Robert</div>
            <div class="review-card__post">Founder in <span>Apple inc.</span>
            </div>
            <div class="review-card__text">Founded in 2007, Sparch is specializing in providing innovative services such as website design, brand identity and marketing</div>
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
  <section class="webpage__latest-news latest-news">
    <div class="container">
      <header class="latest-news__header" data-aos="fade">
        <h2 class="latest-news__heading heading">Latest news</h2>
        <a class="latest-news__more more" href="news-listing.html">View all news
          <svg width="20" height="20">
            <use xlink:href="#chevron-right"></use>
          </svg>
        </a>
      </header>
      <div class="row">
        <div class="latest-news__item col-12 col-lg-4">
          <div class="preview-card" tabindex="0" data-aos="fade">
            <div class="preview-card__image">
              <img src="{% static 'img/picture/latest-news/1.jpg' %}" srcset="{% static 'img/picture/latest-news/1.jpg' %} 2x" width="350" height="352" alt="" />
            </div>
            <div class="preview-card__content">
              <time class="preview-card__date" datetime="2020-06-03">Jule 03, 2020</time>
              <h3 class="preview-card__heading">Discover Architecture</h3>
              <div class="preview-card__text">Projects for many large domestic and foreign corporations, enterprises in many elds such</div>
              <a class="preview-card__btn" href="single-post.html">Learn more
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="latest-news__item col-12 col-lg-4">
          <div class="preview-card" tabindex="0" data-aos="fade">
            <div class="preview-card__image">
              <img src="{% static 'img/picture/latest-news/2.jpg' %}" srcset="{% static 'img/picture/latest-news/2.jpg' %} 2x" width="350" height="352" alt="" />
            </div>
            <div class="preview-card__content">
              <time class="preview-card__date" datetime="2020-06-08">Jule 08, 2020</time>
              <h3 class="preview-card__heading">Discover Architecture</h3>
              <div class="preview-card__text">Projects for many large domestic and foreign corporations, enterprises in many elds such</div>
              <a class="preview-card__btn" href="single-post.html">Learn more
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="latest-news__item col-12 col-lg-4">
          <div class="preview-card" tabindex="0" data-aos="fade">
            <div class="preview-card__image">
              <img src="{% static 'img/picture/latest-news/3.jpg' %}" srcset="{% static 'img/picture/latest-news/3.jpg' %} 2x" width="350" height="352" alt="" />
            </div>
            <div class="preview-card__content">
              <time class="preview-card__date" datetime="2020-06-12">Jule 12, 2020</time>
              <h3 class="preview-card__heading">Discover Architecture</h3>
              <div class="preview-card__text">Projects for many large domestic and foreign corporations, enterprises in many elds such</div>
              <a class="preview-card__btn" href="single-post.html">Learn more
                <svg width="20" height="20">
                  <use xlink:href="#chevron-right"></use>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>
    
{% endblock main %}