{% extends "base.html" %}
{% load static %}
{% block title %}Buildwright Constructions - Quality Home Construction{% endblock %}

{% block meta_keywords %}home construction, building design, residential construction, Buildwright Constructions, quality homes{% endblock %}
{% block meta_description %}Welcome to Buildwright Constructions. We specialize in quality home construction, delivering exceptional residential projects with innovative designs and superior craftsmanship.{% endblock %}
{% block main %}
<div class="no-bottom no-top zebra" id="content">
    <div id="top"></div>
    
    <!-- section begin -->
    <section id="subheader" class="jarallax text-light">
    
    <!-- section close -->
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 style="color: black; text-align: center;">Your Application has been sent successfully. We will get back to you shortly 😃</h1>

        </div>
        <div class="clearfix"></div>
    </div>
</div>

{% endblock main %}
