{% extends "base.html" %}

{% load static %}
{% block title %}Buildwright Constructions - Quality Home Construction{% endblock %}

{% block meta_keywords %}home construction, building design, residential construction, Buildwright Constructions, quality homes{% endblock %}
{% block meta_description %}Welcome to Buildwright Constructions. We specialize in quality home construction, delivering exceptional residential projects with innovative designs and superior craftsmanship.{% endblock %}
{% block main %}

<main>
    <article class="article">
      <header class="article__header">
        <div class="container">
          <h1 class="article__heading heading heading--size-large">Terms
            <br>
            <span class="color-yellow">And</span> Conditions
          </h1>
        </div>
      </header>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="01.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Introduction</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>Welcome to BUILDWRIGHT Constructions! These Terms and Conditions govern your use of our website and services. By accessing or using our services, you agree to comply with and be bound by these terms. If you do not agree to these terms, please do not use our website or services.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="02.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Services Provided</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>BUILDWRIGHT Constructions offers home construction and renovation services. Our services include but are not limited to project planning, design, construction, and project management. All services provided are subject to availability and our discretion. We reserve the right to modify, suspend, or discontinue any service at any time without notice.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="03.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">User Responsibilities</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>As a user of our website and services, you agree to:</p>
              <ul>
                <li><strong>Provide Accurate Information:</strong> Ensure that all information you provide to us is accurate, complete, and up-to-date.</li>
                <li><strong>Use Services Lawfully:</strong> Use our services only for lawful purposes and in compliance with all applicable laws and regulations.</li>
                <li><strong>Respect Intellectual Property:</strong> Acknowledge that all content on our website, including text, graphics, logos, and images, is the property of BUILDWRIGHT Constructions and is protected by intellectual property laws.</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="04.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Payments and Fees</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>All payments for our services are subject to the terms outlined in the contract or agreement between you and BUILDWRIGHT Constructions. Payment terms, including due dates and accepted payment methods, will be specified in the contract. Late payments may be subject to additional fees or interest as outlined in the contract.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="05.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Limitation of Liability</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>To the fullest extent permitted by law, BUILDWRIGHT Constructions shall not be liable for any indirect, incidental, special, or consequential damages arising out of or in connection with your use of our services. This includes, but is not limited to, damages for loss of profits, data, or other intangible losses.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="06.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Governing Law and Dispute Resolution</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>These Terms and Conditions shall be governed by and construed in accordance with the laws of Bangalore, Karnataka. Any disputes arising out of or relating to these terms or your use of our services shall be resolved through negotiation in good faith. If negotiation fails, the dispute shall be resolved through binding arbitration in accordance with the rules of Indian Council of Arbitration.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="07.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Changes to Terms and Conditions</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>We reserve the right to update or modify these Terms and Conditions at any time without prior notice. Any changes will be effective immediately upon posting on our website. Your continued use of our website and services after any modifications indicates your acceptance of the new terms.</p>
            </div>
          </div>
        </div>
      </section>
      
      <section class="webpage__about-block about-block about-block--columns">
        <div class="about-block__inner container" data-number="08.">
          <header class="about-block__header" data-aos="fade">
            <h2 class="about-block__heading heading">Contact Information</h2>
          </header>
          <div class="about-block__main">
            <div class="about-block__text" data-aos="fade">
              <p>If you have any questions or concerns about these Terms and Conditions, please contact us at <strong>info@buildwrightconstructions.com</strong> or <strong>+91 8618415834</strong>. We are here to assist you and ensure a positive experience with BUILDWRIGHT Constructions.</p>
            </div>
          </div>
        </div>
      </section>
      
    </article>
</main>

{% endblock main %}
